-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = javascript_include_tag :home
  - if AppConfig.chat.enabled?
    = javascript_include_tag :jsxc, :id => 'jsxc',
      :data => { :endpoint => get_bosh_endpoint }


.colors
  .theme.gray
  .theme.blue
  .theme.abstractred
  .theme.abstractgreen2
  .theme.yao
  .theme.darkforest
  .theme.pop
  .theme.palegreen
  .theme.orange
  .theme.abstractgreen

.bootstrap_header_padding

- if current_user.getting_started?
  #welcome-to-diaspora
    .container{:style => "position: relative;"}
      .right
        = link_to image_tag('close_label.png'), getting_started_completed_path, :id => "gs-skip-x"
      .span12
        %h1
          = t('aspects.index.welcome_to_diaspora', :name => current_user.first_name)
        %h3
          = t('aspects.index.introduce_yourself')

.container-fluid.no-gutter

  = render 'shared/left_navbar'

  .leftNavBarPadder.rightBarPadder

    .container-fluid.no-gutter
      .row-fluid
        
        .span12
          #aspect_stream_container.stream_container
            = render 'aspects/aspect_stream', :stream => @stream

        .rightBar
          .rightBarInnerPadding
            #selected_aspect_contacts.section
              .title.no_icon
                %h5.stream_title
                  = @stream.title
              .content

            = render 'shared/right_sections'

            %a{:id=>"back-to-top", :title=>"#{t('layouts.application.back_to_top')}", :href=>"#"}
              &#8679;
