.leftNavBarBackground
#leftNavBar
  #home_user_badge
    = owner_image_link
    %h4
      = link_to current_user.first_name, local_or_remote_person_path(current_user.person)

  %ul#stream_selection
    %li.hoverable.stream_option{:data => {:stream => 'stream'}}
      = link_to t("streams.multi.title"), stream_path, :rel => 'backbone'
    %li.hoverable.stream_option{:data => {:stream => 'activity'}}
      = link_to t("streams.activity.title"), activity_stream_path, :rel => 'backbone'
    %li.hoverable.stream_option{:data => {:stream => 'mentions'}}
      = link_to t('streams.mentions.title'), mentioned_stream_path, :rel => 'backbone'
    %li.followed_tags
      = render 'tags/followed_tags_listings'
    %li.all_aspects
      = render 'aspects/aspect_listings', :stream => @stream
